// Responsive layout
#predefined-sizes {
	width: 176px;
}
#swap {
	display: block;
	margin: 2px 0 0 10px;
	float: right;
	&:hover {
		.opacity(0.4);
	};
}
.responsive-input {
	width: 70px;
	float: left;
}
.responsive-slider {
	width: 117px;
	float: right;
	margin: 7px 0 0 0;
}
.responsive-media-queries-title {
	margin: 0;
	padding: 0;
}